Artifacts generated at {{ workflow_run.updated_at }}

Commit info:
- Author: {{ workflow_run.head_commit.author }}
- Message: {{ workflow_run.head_commit.message }}
- SHA: {{ workflow_run.head_sha }}
- Head branch: {{ workflow_run.head_branch }}

Here are your artifacts:
{{# artifacts }}
- [**{{ artifact.name }}** (zip) ({{ artifact.size }})]({{ artifact.url }})
{{/ artifacts }}

Here they are again:
- [**Artifact 1** (zip) ({{ artifact-1.size }})]({{ artifact-1.url }})
- [**Artifact 2** (zip) ({{ artifact-2.size }})]({{ artifact-2.url }})
