Here are your artifacts:
{{# artifacts }}
* [**{{ artifact.name }}** {{ artifact.size }}]({{ artifact.url }})
{{/ artifacts }}

Here they are again:
* [**Artifact 1** {{ artifact-1.size }}]({{ artifact-1.url }})
* [**Artifact 2** {{ artifact-2.size }}]({{ artifact-2.url }})
