name: 'Test: Document Artifacts Action'

on:
  workflow_run:
    workflows: ['Generate Artifacts']
    types: [completed]

jobs:
  test-document-artifacts:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./document-artifacts
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-path: ./test/document-artifacts/output.md
          template-path: ./test/document-artifacts/template.mustache
      - run: |
          git config --global user.name "AHW214"
          git config --global user.email "AHW214@users.noreply.github.com"
          git add "./test/document-artifacts/output.md"
          git commit -m "[TEST] Push artifacts document."
          git push
