name: 'Test: Document Artifacts Action'

on:
  workflow_run:
    workflows: ['Generate Artifacts']
    types: [completed]

jobs:
  test-document-artifacts:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./document-artifacts
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          template: |
            Here are your artifacts:
            {{#artifacts}}
            * [{{name}}.zip]({{url}})
            {{/artifacts}}

            Specific artifacts:
            {{#artifact 1}}
            1. [artifact 1]({{artifact 1}})
            {{/artifact 1}}

            {{#artifact 2}}
            2. [artifact 2]({{artifact 2}})
            {{/artifact 2}}
