name: Generate Artifacts

on:
  push:
    paths-ignore: ['test/**']
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  generate-artifact-1:
    if: |
      github.event_name == 'pull_request' ||
      github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    name: Generate Artifact 1
    runs-on: ubuntu-latest
    steps:
      - name: Generate Artifact
        run: |
          echo "im artifact 1" > artifact_1.txt
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: artifact-1
          path: artifact_1.txt

  generate-artifact-2:
    if: |
      github.event_name == 'pull_request' ||
      github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    name: Generate Artifact 2
    runs-on: ubuntu-latest
    steps:
      - name: Generate Artifact
        run: |
          echo "im artifact 2" > artifact_2.txt
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: artifact-2
          path: artifact_2.txt


  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "${{ format('refs/heads/{0}', github.event.repository.default_branch) }}"
          echo "refs/heads/${{ github.event.repository.default_branch }}"
